* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}
.loader {
  width: 100px;
  height: 100px;
  border-width: 4px;
  border-color: #46D5EE;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  animation: rotate-right 2s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-width: 4px;
  border-color: #CD70AE;
  border-style: solid dotted;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: rotate-left 1s linear infinite;
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}